<h2><%= @user.name %>'s Reservations</h2>

<ul>
<% @reservations.each do |reservation| %>
    <% if reservation.user_id == current_user.id %>
        <li><a href="/reservations/<%= reservation.id %>"><%= reservation.date.strftime('%a %d %b %Y') %></a></li>
            <ul>
                <li><%= reservation.name %></li>
                <li><%= reservation.resource %></li>
                <li><%= reservation.contact %></li>
            </ul>
        <a href="/reservations/<%= reservation.id %>/edit">Edit or Delete Reservation</a><br>
        <br>
    <% elsif @reservations.nil? %>
        <p>You have no reservations.  <a href="/reservations/new">Create a new reservation</a>.</p>
    <% end %>
<% end %>
</ul>