<h2>Edit or Delete Selected Reservation</h2>

<p><b>Current Reservation Information</b></p>
<%= @reservation.name %><br>
<%= @reservation.date.strftime('%a %d %b %Y') %><br>
<%= @reservation.resource %><br>
<%= @reservation.contact %><br>
<br>

<form method="POST" action='/reservations/<%= @reservation.id %>' id="reservation">
<input id="hidden" type="hidden" name="_method" value="patch">
    Name <input type="text" name="name" value="<%= @reservation.name %>" required><br>
    Date <input type="date" name="date" value="<%= @reservation.date %>" required><br>
    Contact <input type="text" name="contact" value="<%= @reservation.contact %>" required><br>
    Resource <select name="resource" form="reservation" required>
    <option value="" selected disabled hidden>Select a Resource</option>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
</select><br>
<br>
    <input type="submit" id="submit" value="Update Reservation"><br>
</form>

<form method="POST" action='/reservations/<%= @reservation.id %>'>
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" id="submit" value="Delete Reservation"><br>
</form>